<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DMC Robot Editor" Language="1033" Version="1.0.0.0" UpgradeCode="FD491F41-C7D6-4CEA-9599-81BE99A1F061" Manufacturer="DMC Automation">
<Package Description="#Description" Comments="Comments" InstallerVersion="200" Compressed="yes" />	
		<!--    Check for .NET 2.0    -->
		<Condition Message="This setup requires the .NET Framework 2.0 or higher."> 
		Installed OR MsiNetAssemblySupport &gt;= "2.0.50727"   
		</Condition>
		<!--    Check for the operating system is at least Windows 2000 (VersionNT = 500).    -->
		<Condition Message="The operating system you are using is not supported (95/98/ME/NT3.x/NT4.x).">    Installed OR VersionNT &gt;= 500   </Condition>
		<!-- Check for admin rights -->
		<Condition Message="Administrator rights are required to install the Code Comment Checking Policy.">    Privileged   </Condition>
		
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir" />
		<Feature Id="Complete" Title="DMC Robot Editor" Description="Robot Editor Utility" Level="1" ConfigurableDirectory="INSTALLDIR">
			<ComponentRef Id="MyComponent" />
		</Feature>
		<!-- 
			Using the Wix UI library
 
			With the the WixUI_FeatureTree dialog set the user goes 
			directly from the license agreement dialog to the feature 
			customization dialog. This dialog set is useful
			when your product installs all features by default. 
		-->
		<UIRef Id="WixUI_FeatureTree" />
	</Product>
</Wix>