<?xml version="1.0"?>
<!-- Defines all the directories, files and components to be installed -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<!--miRobotEditor Installation Directory and files-->
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="miRobotEditorFolder" Name="miRobotEditor">
					<Directory Id="INSTALLDIR" Name="1">
						<Directory Id="BinFolder" Name="bin">
							<Directory Id="ResourcesFolder" Name="Resources">
								<Directory Id="NewdataDirectory" Name="data" />
								<Directory Id="NewdocDirectory" Name="doc" />
								
								<Component Id="SyntaxHighlighting" Guid="7441E21B-B674-4A3F-AC51-CD6BB03C2653" DiskId="1">
									<File Id="SyntaxHighlighting.ABBHighlight.xshd" Name="ABBHighlight.xshd" Source="..\src\Controls\SyntaxHighlighting\ABBHighlight.xshd" />
								</Component>
							</Directory>
							<!-- File Associations-->
							<Component Id="KUKASrcFileAssociation" DiskId="1">
								<RegistryValue Id="miRobotEditor.kukaSourceFile" Root="HKCR" Type="string" Key="miRobotEditor.kukaSourceFile" KeyPath="yes" Value="" />
								<RegistryValue Id="miRobotEditor.kukaSourceFile.command" Root="HKCR" Type="string" Key="v.kukaSourceFile\shell\open\command" Value="&quot;[#miRobotEditor.exe]&quot; &quot;%1&quot;" />
								<RegistryValue Id="miRobotEditor.kukaSourceFile.icon" Root="HKCR" Type="string" Key="v.kukaSourceFile\DefaultIcon" Value="&quot;[#src.ico]&quot;" />
								<RegistryValue Id="miRobotEditor.kukaSourceFile.association" Root="HKCR" Type="string" Key=".src" Value="miRobotEditor.kukaSourceFile" />
							</Component>
							<Component Id="KUKADatFileAssociation" DiskId="1">
								<RegistryValue Id="miRobotEditor.kukaDatFile" Root="HKCR" Type="string" Key="miRobotEditor.kukaDatFile" KeyPath="yes" Value="" />
								<RegistryValue Id="miRobotEditor.kukaDatFile.command" Root="HKCR" Type="string" Key="miRobotEditor.kukaDatFile\shell\open\command" Value="&quot;[#miRobotEditor.exe]&quot; &quot;%1&quot;" />
								<RegistryValue Id="miRobotEditor.kukaDatFile.icon" Root="HKCR" Type="string" Key="miRobotEditor.kukaDatFile\DefaultIcon" Value="&quot;[#dat.ico]&quot;" />
								<RegistryValue Id="miRobotEditor.kukaDatFile.association" Root="HKCR" Type="string" Key=".src" Value="miRobotEditor.kukaDatFile" />
							</Component>
							<Component Id="dockConfig.Xml" Guid="FF960FC9-37DC-47F5-9C7F-1866AFA0BCE6" KeyPath="yes">
								<File Id="Debug.dockConfig.xml" Name="dockConfig.xml" Source="..\src\bin\Debug\dockConfig.xml" />
							</Component>
							<Component Id="ICSharpCodeAvalonDLL" Guid="95D8587C-982C-4267-A5C8-9F6C6FD77E54" DiskId="1">
								<File Id="ICSharpCode.AvalonEdit.dll" Name="ICSharpCode.AvalonEdit.dll" Source="..\src\bin\Debug\ICSharpCode.AvalonEdit.dll" Assembly=".net" AssemblyApplication="ICSharpCode.AvalonEdit.dll" AssemblyManifest="ICSharpCode.AvalonEdit.dll" KeyPath="yes" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<!-- miRobotEditor Start menu folder -->
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Component Id="miRobotEditorProgramMenuItems" Guid="B3561A6D-3DE0-4E46-8D8B-EEC57506ABA0">
					<RegistryValue Id="miRobotEditorExeStartMenuShortcutRegistryKey" Key="Software\miRobotEditor\1" KeyPath="yes" Name="ProgramFilesShortcut" Root="HKCU" Type="string" Value="1" />
					<Shortcut Directory="ProgramMenuFolder" Id="miRobotEditorExeStartMenuShortcut" Name="miRobotEditor 1" Target="[!miRobotEditor.exe]" WorkingDirectory="BinFolder" />
				</Component>
			</Directory>
			<!--Desktop shortcuts -->
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="DesktopFolderItems" Guid="0D5B0019-950B-454A-A71F-D52B6CF05AF6">
					<RegistryValue Id="miRobotEditorExeDesktopShortcutRegistrykey" Type="string" Root="HKCU" KeyPath="yes" Key="Software\miRobotEditor\1" Name="DesktopShortcut" Value="1" />
					<Shortcut Id="miRobotEditorExeDesktopShortcut" Directory="DesktopFolder" Target="[!miRobotEditor.exe]" Name="miRobotEditor 1" WorkingDirectory="BinFolder" />
				</Component>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>