/*
** This CSS code is not done to the web.
** The automatic HTML and CSS code are only a helper.
*/

body {
  text-align: center;
}

#element-1 {
  top: 245px;
  height: 595px;
  width: 592px;
  background: url("Edi.png") no-repeat;
  position: absolute;
  left: 141px;
}
