<?xml version="1.0" encoding="utf-8"?>
<AuthorizationConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RoleMappings>
    <AzRole idRef="a255cf57-46b3-4551-ae42-201f4166ea2b">
      <Group name="localhost\KRC_OPERATORS" />
    </AzRole>
    <AzRole idRef="4c286291-5b9b-4d29-b738-03a712bb82a2">
      <Group name="localhost\KRC_PROGRAMMERS" />
    </AzRole>
    <AzRole idRef="aa8210fd-972c-46b0-87b7-b37d81c042ec">
      <Group name="localhost\KRC_EXPERTPROGRAMMERS" />
    </AzRole>
    <AzRole idRef="ffd72d45-a695-4361-b7f2-a0ae32ea8e59">
      <Group name="localhost\KRC_MAINTENANCE" />
    </AzRole>
    <AzRole idRef="561eef69-07b0-45bd-80ce-dedd20a59bcf">
      <Group name="localhost\KRC_SAFETYMAINTENANCE" />
    </AzRole>
    <AzRole idRef="eaf11733-3bee-4165-a92d-04f8e7b84f39">
      <Group name="localhost\KRC_ADMINISTRATORS" />
    </AzRole>
    <AzRole idRef="e217c3ea-218c-46b5-9d14-94c93781ce73">
      <Group name="localhost\KRC_SAFETYRECOVERY" />
    </AzRole>
  </RoleMappings>
  <AzOperation id="97919bfc-7318-4fdd-a6d1-c363f70dbce3" name="SetVar" description="Writes to a KRL varible">
    <ParamDef name="Path" patternType="WildCard" description="" />
    <ParamDef name="VarName" patternType="WildCard" description="" />
    <ParamDef name="Value" patternType="RegEX" description="" />
    <ParamDef name="NumValue" patternType="Numeric" description="" />
  </AzOperation>
  <AzOperation id="9289ad29-a248-41ed-bfdb-1a748c009b1a" name="ShowVar" description="Reads from a KRL varible">
    <ParamDef name="Path" patternType="WildCard" description="" />
    <ParamDef name="VarName" patternType="WildCard" description="" />
    <ParamDef name="Value" patternType="RegEX" description="" />
    <ParamDef name="NumValue" patternType="Numeric" description="" />
  </AzOperation>
  <AzOperation id="b65b448a-c3a2-446e-a5af-7a334ad85d37" name="InvokeCommand" description="Invokes a HMI or PlugIn command.">
    <ParamDef name="Module" patternType="WildCard" description="" />
    <ParamDef name="CmdId" patternType="WildCard" description="" />
    <ParamDef name="NumericId" patternType="Numeric" description="" />
  </AzOperation>
  <AzOperation id="ad6531a4-c4d5-4174-86c3-9b72f07ce2f5" name="WriteFile" description="Writes to a 'KRL' file.">
    <ParamDef name="Path" patternType="WildCard" description="" />
    <ParamDef name="Name" patternType="WildCard" description="" />
  </AzOperation>
  <AzOperation id="86d10f84-a090-45ee-9e82-70d137ed03ab" name="ReadFile" description="Reads from a 'KRL' file">
    <ParamDef name="Path" patternType="WildCard" description="" />
    <ParamDef name="Name" patternType="WildCard" description="" />
  </AzOperation>
  <AzOperation id="8edcfe1b-ef41-4912-931d-33b9456c97eb" name="ShowPlugIn" description="Shows a PlugIn in the HMI.">
    <ParamDef name="Name" patternType="WildCard" description="" />
  </AzOperation>
  <AzOperation id="30fdcea5-bab6-4ec5-ba4a-8fada6d1f90d" name="WriteConfig" description="Writes to a configuration section.">
    <ParamDef name="Section" patternType="Exact" description="" />
  </AzOperation>
  <AzOperation id="b90af4a4-8243-428f-bc38-27be386dfff1" name="ReadConfig" description="Reads from a configuration section.">
    <ParamDef name="Section" patternType="Exact" description="" />
  </AzOperation>
  <AzOperation id="ddcc661d-b2f4-44d3-bcc9-41dc8be23aa9" name="JogRobot" description="Jog the robot." />
  <AzOperation id="8c3acbd2-8a40-4200-8ace-f8bd176b29e9" name="ModeOpPermission" description="Used to define permissions on ModeOp state.">
    <ParamDef name="ModeOp" patternType="RegEX" description="State of the operation mode out of (Unknown, T1, T2, Aut, Ext)" />
  </AzOperation>
  <AzOperation id="199b2414-81e5-4024-802a-bd686d0710dd" name="ProStatePermission" description="Used to define permissions on ProState state.">
    <ParamDef name="ProState" patternType="RegEX" description="State of the interpreter out of (Unknown, Free, Stop, Reset, Active, End)." />
    <ParamDef name="Interpreter" patternType="Exact" description="Interpreter number 0=Submit, 1=Robot" />
  </AzOperation>
  <AzTask id="dc219e5c-729e-4e0e-9c6a-695a7c3661ed" name="AccessFiles" description="Make reade/write access to files!" roleDefinition="false">
    <Operation idRef="86d10f84-a090-45ee-9e82-70d137ed03ab">
      <Permission Path="*" Name="*" Type="Granted" />
    </Operation>
    <Operation idRef="ad6531a4-c4d5-4174-86c3-9b72f07ce2f5">
      <Permission Path="*" Name="*" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="2237b0b6-5bff-43f0-924f-ebbee9b2857c" name="AccessVariables" description="Make reade/write access to variables!" roleDefinition="false">
    <Operation idRef="9289ad29-a248-41ed-bfdb-1a748c009b1a">
      <Permission VarName="*" Value="*" Type="Granted" />
    </Operation>
    <Operation idRef="97919bfc-7318-4fdd-a6d1-c363f70dbce3">
      <Permission VarName="*" Value="*" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="b3fff1c6-4077-482c-ade0-a3f150f1a212" name="AccessConfigurations" description="Make reade/write access to configurations!" roleDefinition="false">
    <Operation idRef="30fdcea5-bab6-4ec5-ba4a-8fada6d1f90d">
      <Permission Section="*" Type="Granted" />
    </Operation>
    <Operation idRef="b90af4a4-8243-428f-bc38-27be386dfff1">
      <Permission Section="*" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="7cb0bfc0-649b-4a33-a851-066174b97e80" name="InvokeCommands" description="Invoke PlugIn or HMI commands!" roleDefinition="false">
    <Operation idRef="b65b448a-c3a2-446e-a5af-7a334ad85d37">
      <Permission Module="*" Id="*" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="d6c1ea7b-c3c0-4fe5-bc4d-b6d43b05106c" name="ShowPlugIns" description="Show PlugIns!" roleDefinition="false">
    <Operation idRef="8edcfe1b-ef41-4912-931d-33b9456c97eb">
      <Permission Module="*" CmdId="*" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="06d8e283-80f3-423a-a40b-af14db878413" name="ProgrammAsciiEdit" description="Full Editing!" roleDefinition="false" />
  <AzTask id="dee7b190-ecb2-4004-8176-4e4aca2877ca" name="ProgrammFormularEdit" description="Restricted Editing!" roleDefinition="false" />
  <AzTask id="bb26653c-27ad-4088-bf69-79a6ae389a43" name="ProgrammCreate" description="Create new Krl programm!" roleDefinition="false">
    <Operation idRef="b65b448a-c3a2-446e-a5af-7a334ad85d37">
      <Permission Module="FileHandler2" CmdId="33" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="80cc66c3-c386-4829-9830-8dabb9ac4c0b" name="ProgrammDelete" description="Delete Krl programm!" roleDefinition="false">
    <Operation idRef="b65b448a-c3a2-446e-a5af-7a334ad85d37">
      <Permission Module="FileHandler2" CmdId="34" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="dbf8596d-4b62-40d5-bfba-fe85b3e9e349" name="ProgrammSelect" description="Select Krl programm!" roleDefinition="false">
    <Operation idRef="b65b448a-c3a2-446e-a5af-7a334ad85d37">
      <Permission Module="FileHandler2" CmdId="35" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="1bff9502-09ac-4c04-85ad-e769d0a05a3f" name="ProgrammHandling" description="Normal Krl programm handling!" roleDefinition="false">
    <TaskLink>dee7b190-ecb2-4004-8176-4e4aca2877ca</TaskLink>
    <TaskLink>bb26653c-27ad-4088-bf69-79a6ae389a43</TaskLink>
    <TaskLink>80cc66c3-c386-4829-9830-8dabb9ac4c0b</TaskLink>
    <TaskLink>dbf8596d-4b62-40d5-bfba-fe85b3e9e349</TaskLink>
  </AzTask>
  <AzTask id="20e7dfb2-ddd6-4550-bc8c-df314b385acc" name="RobotJog" description="Jog the robot!" roleDefinition="false">
    <Operation idRef="ddcc661d-b2f4-44d3-bcc9-41dc8be23aa9" />
    <Operation idRef="8c3acbd2-8a40-4200-8ace-f8bd176b29e9">
      <Permission ModeOp="T1|T2" Type="Granted" />
    </Operation>
    <Operation idRef="199b2414-81e5-4024-802a-bd686d0710dd">
      <Permission ProState="Free" Interpreter="1" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="5f36c636-60dd-4261-a3eb-0fe36565f457" name="RobotMaster" description="Master the robot!" roleDefinition="false">
    <Operation idRef="b65b448a-c3a2-446e-a5af-7a334ad85d37">
      <Permission Module="Tool" CmdId="*" Type="Granted" />
    </Operation>
    <Operation idRef="8c3acbd2-8a40-4200-8ace-f8bd176b29e9">
      <Permission ModeOp="T1|T2" Type="Granted" />
    </Operation>
    <Operation idRef="199b2414-81e5-4024-802a-bd686d0710dd">
      <Permission ProState="Free" Interpreter="1" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="44da59c6-94ae-48ae-9e4d-25d794ad9d7d" name="RobotMeasure" description="Mesurement the robot" roleDefinition="false">
    <Operation idRef="b65b448a-c3a2-446e-a5af-7a334ad85d37">
      <Permission Module="Tool" CmdId="*" Type="Granted" />
    </Operation>
    <Operation idRef="8c3acbd2-8a40-4200-8ace-f8bd176b29e9">
      <Permission ModeOp="T1|T2" Type="Granted" />
    </Operation>
    <Operation idRef="199b2414-81e5-4024-802a-bd686d0710dd">
      <Permission ProState="Free" Interpreter="1" Type="Granted" />
    </Operation>
  </AzTask>
  <AzTask id="bfbb44f0-f844-4340-95f4-a641051fe9cc" name="ConfigurationRobot" description="Restricted configurations!" roleDefinition="false" />
  <AzTask id="0d3f10ec-1d64-4a51-8667-9800b84ef1b6" name="ConfigurationSafeRobot" description="Unrestricted configurations!" roleDefinition="false" />
  <AzTask id="a255cf57-46b3-4551-ae42-201f4166ea2b" name="Operator" description="KRC operator with restricted rights" roleDefinition="true">
    <TaskLink>d6c1ea7b-c3c0-4fe5-bc4d-b6d43b05106c</TaskLink>
  </AzTask>
  <AzTask id="4c286291-5b9b-4d29-b738-03a712bb82a2" name="Programmer" description="KRC Programmer" roleDefinition="true">
    <TaskLink>d6c1ea7b-c3c0-4fe5-bc4d-b6d43b05106c</TaskLink>
    <TaskLink>dc219e5c-729e-4e0e-9c6a-695a7c3661ed</TaskLink>
    <TaskLink>2237b0b6-5bff-43f0-924f-ebbee9b2857c</TaskLink>
    <TaskLink>7cb0bfc0-649b-4a33-a851-066174b97e80</TaskLink>
    <TaskLink>1bff9502-09ac-4c04-85ad-e769d0a05a3f</TaskLink>
    <TaskLink>d6c1ea7b-c3c0-4fe5-bc4d-b6d43b05106c</TaskLink>
    <TaskLink>dc219e5c-729e-4e0e-9c6a-695a7c3661ed</TaskLink>
    <TaskLink>2237b0b6-5bff-43f0-924f-ebbee9b2857c</TaskLink>
    <TaskLink>b3fff1c6-4077-482c-ade0-a3f150f1a212</TaskLink>
    <TaskLink>7cb0bfc0-649b-4a33-a851-066174b97e80</TaskLink>
    <TaskLink>bfbb44f0-f844-4340-95f4-a641051fe9cc</TaskLink>
  </AzTask>
  <AzTask id="aa8210fd-972c-46b0-87b7-b37d81c042ec" name="ExpertProgrammer" description="Advanced KRC Programmer" roleDefinition="true">
    <TaskLink>4c286291-5b9b-4d29-b738-03a712bb82a2</TaskLink>
    <TaskLink>06d8e283-80f3-423a-a40b-af14db878413</TaskLink>
  </AzTask>
  <AzTask id="ffd72d45-a695-4361-b7f2-a0ae32ea8e59" name="Maintenance" description="KRC maintenance person with restricted rights" roleDefinition="true" />
  <AzTask id="561eef69-07b0-45bd-80ce-dedd20a59bcf" name="SafetyMaintenance" description="KRC maintenance person" roleDefinition="true">
    <TaskLink>ffd72d45-a695-4361-b7f2-a0ae32ea8e59</TaskLink>
    <TaskLink>0d3f10ec-1d64-4a51-8667-9800b84ef1b6</TaskLink>
  </AzTask>
  <AzTask id="eaf11733-3bee-4165-a92d-04f8e7b84f39" name="KrcAdministrator" description="KRC administrator" roleDefinition="true">
    <TaskLink>d6c1ea7b-c3c0-4fe5-bc4d-b6d43b05106c</TaskLink>
    <TaskLink>dc219e5c-729e-4e0e-9c6a-695a7c3661ed</TaskLink>
    <TaskLink>2237b0b6-5bff-43f0-924f-ebbee9b2857c</TaskLink>
    <TaskLink>b3fff1c6-4077-482c-ade0-a3f150f1a212</TaskLink>
    <TaskLink>7cb0bfc0-649b-4a33-a851-066174b97e80</TaskLink>
    <TaskLink>bfbb44f0-f844-4340-95f4-a641051fe9cc</TaskLink>
    <TaskLink>1bff9502-09ac-4c04-85ad-e769d0a05a3f</TaskLink>
    <TaskLink>06d8e283-80f3-423a-a40b-af14db878413</TaskLink>
  </AzTask>
  <AzTask id="e217c3ea-218c-46b5-9d14-94c93781ce73" name="SafetyRecovery" description="KRC maintenance person with restricted rights" roleDefinition="true">
    <TaskLink>ffd72d45-a695-4361-b7f2-a0ae32ea8e59</TaskLink>
  </AzTask>
</AuthorizationConfiguration>