<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="mi Editor" ShortName="miEdit">
					<Component Id="MyComponent" Guid="CCC47442-2E48-4CAA-AA0E-15C69678CF9A" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf" />
						<File Id="DMC_Robot_Editor.exe" Name="DMC Robot Editor.exe" Source="..\miRobotEditor\src\bin\Debug\miRobotEditor.exe">
						</File>
						<File Id="AvalonDock.dll" Name="AvalonDock.dll" Source="..\miRobotEditor\src\bin\Debug\AvalonDock.dll">
						</File>
						<File Id="AvalonDock.Themes.Aero.dll" Name="AvalonDock.Themes.Aero.dll" Source="..\miRobotEditor\src\bin\Debug\AvalonDock.Themes.Aero.dll">
						</File>
						<File Id="AvalonDock.Themes.VS2010.dll" Name="AvalonDock.Themes.VS2010.dll" Source="..\miRobotEditor\src\bin\Debug\AvalonDock.Themes.VS2010.dll">
						</File>
						<File Id="ICSharpCode.AvalonEdit.dll" Name="ICSharpCode.AvalonEdit.dll" Source="..\miRobotEditor\src\bin\Debug\ICSharpCode.AvalonEdit.dll">
						</File>
						<File Id="TaskDialog.dll" Name="TaskDialog.dll" Source="..\miRobotEditor\src\bin\Debug\TaskDialog.dll">
						</File>
						<File Id="RecentFileListLib.dll" Name="RecentFileListLib.dll" Source="..\miRobotEditor\src\bin\Debug\RecentFileListLib.dll">
						</File>
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>