<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="miRobotEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="miRobotEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <miRobotEditor.Properties.Settings>
      <setting name="Filter" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenDocuments" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowEndOfLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLineNumbers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSpaces" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WrapWords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedTextForeground" serializeAs="String">
        <value>Yellow</value>
      </setting>
    </miRobotEditor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <miRobotEditor.Properties.Settings>
      <setting name="LastUpdate" serializeAs="String">
        <value>2012-08-26</value>
      </setting>
      <setting name="AllowScrollingBelowDocument" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertTabsToSpaces" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CutCopyWholeLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAnimations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableEmailHyperlinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableFolding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHyperlinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RequireControlButtonForHyperlinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableRectangularSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTextDragDrop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableVirtualSpace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HighlightCurrentLine" serializeAs="String">
        <value>True</value>
      </setting>
    </miRobotEditor.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>