<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="miRobotEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="miRobotEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <miRobotEditor.Properties.Settings>
      <setting name="Filter" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenDocuments" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowEndOfLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLineNumbers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSpaces" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WrapWords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedTextForeground" serializeAs="String">
        <value>Yellow</value>
      </setting>
    </miRobotEditor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <miRobotEditor.Properties.Settings>
      <setting name="LastUpdate" serializeAs="String">
        <value>2012-08-26</value>
      </setting>
      <setting name="AllowScrollingBelowDocument" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertTabsToSpaces" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CutCopyWholeLine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableAnimations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableEmailHyperlinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableFolding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHyperlinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RequireControlButtonForHyperlinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableRectangularSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTextDragDrop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableVirtualSpace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HighlightCurrentLine" serializeAs="String">
        <value>True</value>
      </setting>
    </miRobotEditor.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="f4fb5a3c4d1e5b4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.13.1.0" newVersion="0.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
