<configuration>
  <authenticationManagement>
     
      <AuthorizationConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
         <AutoLock>ModeOP2Aut ModeOP2Ext</AutoLock>
         <CanLockSystem>false</CanLockSystem>
         <MethodList>
            <AuthenticationMethod>
               <AuthenticationType>SelectionOnly</AuthenticationType>
               <UserListName>secondaryUserList</UserListName>
               <LeaseTime>300</LeaseTime>
            </AuthenticationMethod>
            <AuthenticationMethod>
               <AuthenticationType>UsernameOnly</AuthenticationType>
               <LeaseTime>300</LeaseTime>
           </AuthenticationMethod>
         </MethodList>
         <DefaultUser>
            <Name>AutoKrcOperator</Name>
            <UserLevel>5</UserLevel>
            <DisplayName>KrcSecurity#Operator</DisplayName>
            <TranslateDisplayName>true</TranslateDisplayName>
            <Password>kukaAuto</Password>
            <UsePasswordAutomaticaly>true</UsePasswordAutomaticaly>
         </DefaultUser>
         <AnnouncementTime>300</AnnouncementTime>
      </AuthorizationConfiguration>
   </authenticationManagement> 
   <secondaryUserList>
      <UserList xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
         <UserInfo>
            <Name>AutoKrcProgrammer</Name>
            <UserLevel>10</UserLevel>
            <DisplayName>KrcSecurity#Programmer</DisplayName>
            <TranslateDisplayName>true</TranslateDisplayName>
            <Password>kukaAuto</Password>
            <UsePasswordAutomaticaly>true</UsePasswordAutomaticaly>
         </UserInfo>
         <UserInfo>
            <Name>KrcExpertProgrammer</Name>
            <UserLevel>20</UserLevel>
            <DisplayName>KrcSecurity#ExpertProgrammer</DisplayName>
            <TranslateDisplayName>true</TranslateDisplayName>
         </UserInfo>
         <UserInfo>
            <Name>KrcAdministrator</Name>
            <UserLevel>30</UserLevel>
            <DisplayName>KrcSecurity#KrcAdministrator</DisplayName>
            <TranslateDisplayName>true</TranslateDisplayName>
         </UserInfo>
      </UserList>
   </secondaryUserList>
</configuration>