<SalesFigures xmlns="">
  <SalesPerson Name="Jean Price">

    <Period PeriodName="January">
      <Order OrderNumber="Order # JAN001">
        <Item>500 Widgets</Item>
        <Item>120 Gizmos</Item>
      </Order>
      <Order OrderNumber="Order # JAN002">
        <Item>200 Wiggles</Item>
        <Item>20 Schmoos</Item>
        <Item>312 Linguines</Item>
      </Order>
    </Period>

    <Period PeriodName="February">
      <Order OrderNumber="Order # FEB001">
        <Item>1000 Widgets</Item>
        <Item>76 Schmoos</Item>
      </Order>
    </Period>
  </SalesPerson>

  <!-- Second SalesPerson -->
  <SalesPerson Name="John P Grant">
    <Period PeriodName="January">
      <Order OrderNumber="Order # JAN001">
        <Item>200 Widgets</Item>
        <Item>120 Woggles</Item>
      </Order>
      <Order OrderNumber="Order # JAN002">
        <Item>100 Wiggles</Item>
        <Item>222 Linguines</Item>
      </Order>
    </Period>

    <Period PeriodName="February">
      <Order OrderNumber="Order # FEB001">
        <Item>75 Smashies</Item>
        <Item>176 Widgets</Item>
        <Item>750 Small Blingshies</Item>
        <Item>110 Scoobs</Item>
      </Order>
    </Period>
  </SalesPerson>

</SalesFigures>
